/*
 * Estilos de tu proyecto
 */
 #links{
   background-color: black;
   color:white;
   padding: 10px;
   position: fixed;
   top:0;
   left:0;
   font-family: "Montserrat";
 }
.menu{
  display:inline-block;
  padding:10px;
  list-style: none;
  height: 100%;
  text-align: center;
}
.menu:hover{
  background-color: #18BC9C;

}
